@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

i.fa-solid.fa-plus.fa-style {
  font-size: 20px;
  color: #000;
}

i.fa-solid.fa-minus.fa-style {
  font-size: 20px;
  color: #000;
}

i.fa-solid.fa-plus.fa-style:hover {
  color: brown;
}

i.fa-solid.fa-minus.fa-style:hover {
  color: brown;
}

/* Menu - Navigation */
.menu {
  height: auto;
}

.menu-content {
  background: #ffffff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

#logo {
  padding: 5px;
}

#logo {
  background-image: url(../images/hhk1.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100%;
}

.logo-main {
  height: 52px;
  width: 150px;
}

ul.list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 6;
}

ul.list-menu li {
  position: relative;
}

ul.list-menu ul.sub-menu {
  position: absolute;
  background: #ffffff;
  list-style: none;
  width: 320px;
  border: 1px solid #f0f0f0;
  display: none;
  border-radius: 5px;
  z-index: 2;
}

ul.list-menu li:hover>ul.sub-menu {
  display: block;
}

ul.list-menu ul.sub-menu a {
  color: #7c899d;
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  left: 0;
}

ul.list-menu ul.sub-menu li:last-child a {
  border: none;
}

ul.list-menu ul.sub-menu ul.sub-menu {
  left: 319px;
  top: -15px;
}

/* Thiết lập border khi hover */
ul.list-menu li a {
  position: relative;
  text-transform: uppercase;
  transition: all 0.4s ease;
  color: #7c899d;
  font-size: 14px;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
  font-weight: 500;
}

ul.list-menu>li:hover>a {
  color: #000;
}

ul.list-menu>li>a::before {
  content: "";
  height: 4px;
  width: 0px;
  background: #f00;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.list-menu>li:hover>a::before {
  width: 100%;
}

/* Mũi tên xuống */
ul.list-menu>li.has-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f107";
  color: #858585;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px 0px;
}

ul.list-menu .sub-menu {
  border-bottom: 1px solid #f0f0f0;
  transition: all 0.3s ease;
  box-shadow: 0 -3px 8px rgb(0 0 0 / 5%);
}

ul.list-menu .sub-menu li:hover>a {
  background: #f0f0f0;
  color: #000;
}

ul.list-menu .sub-menu>li.has-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f105";
  color: #858585;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 18px 0px;
}

ul.list-menu .sub-menu>li:hover.has-child::after {
  color: crimson;
}

/* ORTHERS */
.others {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.others>.others-border {
  padding: 0px 8px;
  position: relative;
  z-index: 2;
  color: #1c891f;
  cursor: pointer;
  font-size: 14px;
}

.others>.others-border::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.others>.others-border:last-child::after {
  display: none;
}

.others input {
  /* position: absolute;
  padding: 15px 0px; */
  visibility: hidden;
  /* transition: 0.3s;
  right: 10px;
  font-weight: 300;
  color: #ccc; */
}

.others input:first-child {
  width: 350px;
  /* height: 50px; */
  border: none;
  border-bottom: 1px solid #333;
  background: #ffffff;
  outline: none;
  padding-left: 8px;
  /* margin-top: 17px; */
}

.others input:last-child {
  background: #b80000;
  /* margin: 22px 10px 5px 10px; */
  padding: 5px;
  /* height: 40px; */
  margin-left: 8px;
  color: white;
  border: none;
}

.others input:hover:last-child {
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.others .fas {
  width: 100%;
  height: 100%;
  position: relative;
}

.others li:hover .fas {
  transform: scale(1.1);
}

/* .others li:hover input {
  visibility: visible;
} */

.other-user {
  float: left;
}

.account-box {
  border: 1px solid #bababa;
  border-radius: 20px;
  padding: 2px 20px;
  display: flex;
  font-size: 20px;
  align-items: center;
  align-content: center;
}

.account-box .user-icon {
  color: #1c891f;
}

.account-box li {
  display: flex;
  justify-content: space-between;
}

.account-box li a {
  font-size: 11px;
  color: #767676;
  font-weight: 500;
  padding: 3px 7px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.account-box li a:hover {
  transform: scale(1.1);
  color: #000066;
}

.cart-mini a {
  display: inline-block;
  color: #767676;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #bababa;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.cart-mini a .cart-icon {
  font-size: 22px;
  color: #1c891f;
  margin-right: 5px;
}

.cart-mini a .cart-text:hover {
  transform: scale(1.1);
  color: #000066;
}

/* END ------ MENU NAVIGATION */

.slider-container {
  max-width: 90%;
  margin: auto;
}

/*START ----- SLIDER */
li {
  list-style: none;
}

.slider-content {
  display: flex;
  justify-content: space-between;
}

.slider-content-left {
  width: 100%;
}

.slider-content-left-top {
  width: 100%;
  height: 60vh;
  position: relative;
}

/* .slider-content-left-top:hover i {
  opacity: 1;
} */

.slider-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-content-left-bottom {
  display: flex;
  justify-content: center;
}

.slider-content-left-bottom li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.slider-content-left-bottom li.active {
  background: #ffffff;
}

.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.slider-content-left-top-btn i {
  color: #333;
  font-size: 32px;
  height: 60px;
  width: 30px;
  background-color: rgb(247, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* end slider */
/* slider js */
.slider-content-left-top img {
  position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
  transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img {
  transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img {
  transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img {
  transform: translateX(400%);
}

.slider-content-left-top-container {
  position: relative;
  overflow: hidden;
}

.slider-content-left-top-container:hover i {
  opacity: 1;
}

.slider-content-left-top {
  transition: all 0.3s ease;
}

/* slider 1 */
.slider-content-left-bottom li.active {
  background: #ffffff;
}

.slider-content-left-bottom li {
  background: #333;
}

/* END ------- SLIDER 1 */
ul.baiviet {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.baiviet li {
  border: 1px solid #ddd;
  padding: 10px;
}

/* main */
.wrapper {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

#main {
  border: 1px solid #ccc;
  height: auto;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  ;
  padding-bottom: 30px;
}

.sidebar {
  border: 1px solid #ccc;
  height: auto;
}

ul.list-sidebar {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px;
  list-style: none;
  line-height: 27px;
}

ul.list-sidebar li:hover {
  background: rgb(8, 177, 239);
}

ul.list-sidebar li:hover a {
  color: #fff;
}

ul.list-sidebar li a {
  text-decoration: none;
  text-align: left;
  color: #33b1ff;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-weight: bold;
}

ul.list-sidebar li {
  margin: 7px;
  padding: 5px;
}

ul.product-list {
  list-style: none;
}

.product-type {
  margin: 10px 0;
}

.product-list__item-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

ul.product-list li img {
  height: 190px;
}

ul.product-list li {
  /* width: 18.9%;
  border: 1px solid #ddd;
  margin: 5px;
  float: left;
  height: 300px; */
  margin-top: 10px;
}

ul.product-list li a {
  text-decoration: none;
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

ul.product-list li img {
  width: 100%;
}

p.price {
  text-align: center;
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
}

p.title-product {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 15px 0;
}

.clear {
  clear: both;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

p.footer-copyright {
  text-align: center;
  color: #000;
}

/* Tabs */
.tabs {
  width: 100%;
  background-color: #ff0044;
  border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}

ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: #00ee5fdb;
}

#tabs-nav li a {
  text-decoration: none;
  color: #fff;
}

.tab-content {
  padding: 10px;
  border: 5px solid #ff0044;
  background-color: #fff;
}

#backtop {
  width: 50px;
  height: 50px;
  background: #000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 20px;
}

/* Detail_cart_product */
.wrapper_chitiet img {
  width: 100%;
  display: block;
}

.wrapper_chitiet {
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.wrapper_content {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}

.p_left {
  padding: 20px;
}

.p_right {
  padding: 20px;
}

.big_img {
  border: 1.5px solid #333;
  border-radius: 10px;
  padding: 50px;
}

.big_img img {
  width: 65%;
  margin: 0 auto;
}

.small_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
}

.small_img div {
  border: 2px solid #ccc;
  padding: 0.7rem;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.active {
  border-color: #5c5c5c !important;
}

.small_img div:hover {
  border-color: rgb(55, 8, 8);
}

.small_img div:hover img {
  transform: scale(1.2);
}

.small_img div img {
  width: 40px;
  cursor: pointer;
}

.p_title {
  display: block;
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.p_id {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}

.p_price {
  display: block;
  margin: 15px 0;
  font-weight: 700;
  font-size: 24px;
  color: #f00;
}

.p_rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.p_rating span {
  margin-right: 6px;
}

.p_rating i {
  color: #ff9f00;
}

.size,
.color,
.quantity {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.p_size p,
.p_color p {
  font-size: 18px;
  font-weight: 600;
}

.p_size,
.p_color {
  width: 70px;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  color: #000;
  text-align: center;
  padding: 7px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.p_size:hover,
.p_color:hover {
  transform: scale(1.1);
  border: 1px solid #ff9f00;
}

.p_size.p_active,
.p_color.p_active {
  border-width: 1.5px;
  color: #ff9f00;
  font-weight: 500;
  border: 1px solid #ff9f00;
}

.quantity input {
  border: 1.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin: 0 10px;
}

.quantity input {
  width: 60px;
}

.quantity p {
  font-size: 15px;
  color: #ccc;
  font-style: italic;
}

.p_description {
  font-weight: 17px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 15px;
}

.btn-groups {
  margin-top: 22px;
}

.btn-groups button {
  display: inline-block;
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-groups button .fas {
  margin-right: 8px;
}

.addcart {
  background-color: #ff9f00;
  border: 2px solid #ff9f00;
  margin-right: 8px;
}

.addcart:hover {
  background-color: #fff;
  color: #ff9f00;
}

.buy-now-btn {
  background: #00bfff;
  border: 2px solid #000;
}

.buy-now-btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 992px) {
  .wrapper_content {
    grid-template-columns: 100%;
  }

  .p_right {
    text-align: center;
  }

  .p_rating {
    justify-content: center;
  }

  .p_description {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .btn-groups button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* CSS footer */
.footer {
  width: 90%;
  margin: 0 auto;
}

.footer-full {
  width: 100%;
  border-top: 4px solid #ee4d2d;
  background-color: #f5f5f5;
  margin-top: 30px;
}

.footer-headinh {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px 0;
}

.footer-list {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0;
}

.footer-item__link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  margin: 16px 0;
}

.footer-copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #000;
}

/* thanh toan */

/* Responsive Arrow Progress Bar */

/* jQuery Demo */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container-cart {
  margin: 20px 10px;
}

.tbl-content {
  max-width: 100%;
  margin: 0 auto;
  margin: 20px 0;
  line-height: 1.9;
  display: flex;
  justify-content: space-between;
}

.info-shipping-cart {
  flex: 1;
  margin-right: 30px;
}

/* Responsive Arrow Progress Bar */

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #777;
  cursor: default;
  margin: 0 1px 0 0;
  padding: 10px 0px 10px 0px;
  width: 15%;
  float: left;
  position: relative;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-steps .step a {
  color: #777;
  text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #ddd;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

*.arrow-steps .step.done span:before {
  opacity: 1;
  content: "";
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 11px;
  line-height: 21px;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #5599e5;
}

.arrow-steps .step.current a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
  color: #173352;
  background-color: #2f69aa;
}

.arrow-steps .step.done a {
  color: #173352;
  text-decoration: none;
}

.arrow-steps .step.done:after {
  border-left: 17px solid #2f69aa;
}

/* shipping */
.tbl-shipping {
  display: block;
  width: 700px;
  border: 1px solid #333;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2rem;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 17px;
}

.tbl-shipping h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.row-form {
  width: 100%;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
}

.btn-add {
  background: #000066;
}

.btn-update {
  background: #f00;
}

.btn-pay {
  background: #f04;
}


.product-list__item:hover a {
  transform: translateY(-2px);
  border: 1px solid #0891fa;
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .075);;
}

/* Giỏ hàng */
.tbl-cart {
  width: 100%;
  font-size: 17px;
}
.tbl-cart a{
  color: #0000ee;
}
.tbl-cart table {
  width: 100%;
  text-align: center;
}
.tbl-car table, th {
  height: 50px;
  background-color: #04aa6d;
  color: white;
  text-align: center;
}
table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
