
* {
    font-size: 17px;
    margin: 0;
    padding: 0;
}



.container_form{
    position: relative;
    height: 400px;
     
}

.name-form{
    font-size:30px ;
    font-weight: bold;
    position: relative;
    left: 300px;
    top: 10px;
    color: black;
   
}

.form {
    position: relative;
    width: 300px;
    height: 30px;
    padding: 30px;
}

.form__input {
    position: absolute;
    width: 100%;
    height: 70%;
    left: 280px;
    border: 2.4px solid #333;
    border-radius: 5px;
    font-size: 10px;
    background: none;
    font-size: 18px;
    outline: none;
    
}

.form__input:focus {
    border-color: rgb(0, 21, 255);

}

.form__label {
    position: relative;
    left: 260px;
    top: 10px;
    padding: 0;
    transition: 0.3s cubic-bezier(.79,0,.16,.99);
    background-color:#f4f4f4;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -15px;
    font-size: 18px;
    left: 255px;
    padding: 0 10px;
    color: rgb(0, 21, 255);
    font-weight: bold;
}


.submit{
    position: relative;
    top: 40px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    left: 280px;
    cursor: pointer;
    color: black;
    border: 2px solid #333;
}

